# This integration was built by BizDev Tech in conjunction
# with the AWS Outpost Team for the purpose of participating
# in the AWS Service Ready Outpost launch.

# The following user is the maintainer of the content within this
# repository.
* @jimmyjamcabd

# For questions, comments, concerns on the content housed here the 
# following email alias will field any questions on the content.
*.go @cyberark/bizdev